<section id="projects">
	<!-- primeira row -->
	<div class="w3-row">
		<!-- jogo da memória -->
		<div class="w3-col m3 l3 s12">
			<div class="w3-card-4 w3-border w3-hover-border-white">
				<header class="w3-container w3-blue">
				  <h2 class="alt-h2">JOGO DA MEMÓRIA</h2>
				</header>			
				<div class="w3-container card-p-container">
					<img class="proj-img" src="../../assets/projects/jogo-memoria.png">
				</div>	
				<a>			
				<footer class="w3-container w3-blue">
				 <a href={{links.jogoMemoria}} target="_blank"><h5>ACESSAR</h5></a>
				</footer>
				</a>			
			</div>
		</div>
		
		<!-- acerte a topeira -->
		<div class="w3-col m3">
			<div class="w3-card-4 w3-border w3-hover-border-black">
				<header class="w3-container w3-blue">
				  <h2 class="alt-h2">ACERTE A TOPEIRA</h2>
				</header>			
				<div class="w3-container card-p-container">
					<img class="proj-img" src="../../assets/projects/whack-mole.png">
				</div>				
				<footer class="w3-container w3-blue">
					<a href={{links.acerteTopeira}} target="_blank"><h5>ACESSAR</h5></a>
				</footer>			
			</div>
		</div>

		<!-- tiro ao alvo -->
		<div class="w3-col m3">
			<div class="w3-card-4 w3-border w3-hover-border-white">
				<header class="w3-container w3-blue">
				  <h2 class="alt-h2">TIRO AO ALVO</h2>
				</header>			
				<div class="w3-container card-p-container">
					<img class="proj-img" src="../../assets/projects/tiro-ao-alvo.png">
				</div>				
				<footer class="w3-container w3-blue">
				  <a href={{links.tiroAlvo}} target="_blank"><h5>ACESSAR</h5></a>
				</footer>			
			</div>
		</div>
		
		<!-- criptografia -->
		<div class="w3-col m3">
			<div class="w3-card-4 w3-border w3-hover-border-black">
				<header class="w3-container w3-blue">
				  <h2 class="alt-h2">CRIPTOGRAFIA</h2>
				</header>			
				<div class="w3-container card-p-container">
					<img class="proj-img" src="../../assets/projects/criptografia.png">
				  
				</div>				
				<footer class="w3-container w3-blue">
				<a href={{links.criptografia}} target="_blank"><h5>ACESSAR</h5></a>
				  
				</footer>			
				</div>
		</div>

	</div>	

	<!-- segunda row -->
	<div class="w3-row">
		<!-- calcular IMC -->
		<div class="w3-col m3">
			<div class="w3-card-4 w3-border w3-hover-border-white">
				<header class="w3-container w3-blue">
				  <h2 class="alt-h2">CALCULAR IMC</h2>
				</header>			
				<div class="w3-container card-p-container">
					<img class="proj-img" src="../../assets/projects/imc.png">
				</div>	
				<a>			
				<footer class="w3-container w3-blue">
				 <a href={{links.calcularImc}} target="_blank"><h5>ACESSAR</h5></a>
				</footer>
				</a>			
			</div>
		</div>

		<!-- js-bank -->
		<div class="w3-col m3">
			<div class="w3-card-4 w3-border w3-hover-border-black">
				<header class="w3-container w3-blue">
				  <h2 class="alt-h2">JS-BANK</h2>
				</header>			
				<div class="w3-container card-p-container">
					<img class="proj-img" src="../../assets/projects/js-bank.png">
				</div>	
				<a>			
				<footer class="w3-container w3-blue">
				 <a href={{links.jsBank}} target="_blank"><h5>ACESSAR</h5></a>
				</footer>
				</a>			
				</div>
		</div>
		
		<!-- forca -->
		<div class="w3-col m3">
			<div class="w3-card-4 w3-border w3-hover-border-white">
				<header class="w3-container w3-blue">
				  <h2 class="alt-h2">FORCA</h2>
				</header>			
				<div class="w3-container card-p-container">
					<img class="proj-img" src="../../assets/projects/forca.png">
				</div>				
				<footer class="w3-container w3-blue">
					<a href={{links.forca}} target="_blank"><h5>ACESSAR</h5></a>
				</footer>			
			</div>
		</div>	

		<!-- catalogo de herois -->
		<div class="w3-col m3">
			<div class="w3-card-4 w3-border w3-hover-border-black">
				<header class="w3-container w3-blue">
				  <h2 class="alt-h2">CATALOGO DE HEROIS</h2>
				</header>			
				<div class="w3-container card-p-container">
					<img class="proj-img" src="../../assets/projects/catalogo-herois.png">
				</div>				
				<footer class="w3-container w3-blue">
					<a href={{links.catalogoHerois}} target="_blank"><h5>ACESSAR</h5></a>
				</footer>			
			</div>
		</div>
		
		<!-- em desenvolvimento -->
		<div class="w3-col m3">
			<div class="w3-card-4 w3-border w3-hover-border-white">
				<header class="w3-container w3-blue">
				  <h2 class="alt-h2" style="visibility: hidden;">xxxxxxx</h2>
				</header>			
				<div class="w3-container card-p-container">
					<img class="proj-img" src="../../assets/projects/work-in-progress.png">
				</div>				
				<footer class="w3-container w3-blue">
					<a href="#"><h5>EM DESENVOLVIMENTO</h5></a>
				</footer>			
			</div>
		</div>	

	</div>	

    <button class="button-3" (click)="loadService.goToPage('/home')">go back</button>
</section>
