
<section class="background-img">

    <div class="language-buttons">
        <div> 
            <a class="btn-slide btn-slide-br" (click)="setLang('BR')">
            <span class="circle brasil">
            </span>
          
            <span class="title">Português</span>
            <span class="title title-hover">Entrar</span>
           </a> 
        </div>
          
        <div> 
            <a class="btn-slide btn-slide-usa" (click)="setLang('US')">
            <span class="circle usa">
            </span>
           
            <span class="title" >English</span>
            <span class="title title-hover">Enter</span>
           </a> 
        </div>
    </div>


</section>






  
